body{
  background: white;
  font-size: 16px;
}
h1{
  color: rgb(255,90,96);
}
text{
  color: rgb(0,0,0);
}

input{
  font-size: 16px;
  width: 85vw;
  background: rgb(255,255,255);
  border: 0px;
}

button{
  background:rgb(255,90,96);
  color:#fff;
  border:none;
  position:relative;
  font-size:12px;
  /* padding:0 2em; */
  /* margin: 1px; */
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width:100%;
  height:30px;
}
button:hover{
  background:#fff;
  color:rgb(0,166,153);
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(0,166,153);
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}




// table design
table.type07 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px 10px;
}

table.type07 thead {
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    background: #3f1822;
}
table.type07 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: rgb(0, 0, 0);
}
table.type07 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(255,255,255);
}
table.type07 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid rgb(0, 0, 0);
}